*               @guggr-dev

frontend/		@tametsi
package.json	@tametsi
pnpm-lock.yaml	@tametsi
.prettier*		@tametsi
.editorconfig	@tametsi

charts/					@melo-afk
.github/				@melo-afk
.pre-commit-config.yaml	@melo-afk
.gitlint				@melo-afk
evaluator/              @melo-afk
Dockerfile.*            @melo-afk
compose.yaml            @melo-afk
Cargo.toml              @melo-afk
Cargo.lock              @melo-afk
api-service/            @melo-afk

agent/		@philxws692
flake.lock	@philxws692
flake.nix	@philxws692
.envrc		@philxws692

scheduler/	@niri81
proto/		@niri81
gen/		@niri81
README		@niri81
database/   @niri81
