RABBITMQ_USER=guggr
RABBITMQ_PASSWORD=guggr
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_JOBS_QUEUE=scheduler.jobs
RABBITMQ_JOB_RESULT_QUEUE=agent.job_results
POSTGRES_USER=guggr
POSTGRES_PASSWORD=guggr
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=guggr
