
api-service/	@tametsi
frontend/		@tametsi
package.json	@tametsi
pnpm-lock.yaml	@tametsi

charts/		@melo-afk
.github/	@melo-afk

agent/		@philxws692
flake.lock	@philxws692
flake.nix	@philxws692

scheduler/	@niri81
proto/		@niri81
gen/		@niri81
buf.*		@niri81
