---
import EditAccountForm from '@/components/account/EditAccountForm.svelte';
import PageLayout from '@/layout/PageLayout.astro';
import { UserIcon } from '@lucide/svelte';
---

<PageLayout>
	<main class="mx-auto w-lg max-w-11/12 *:not-last:mb-8">
		<section
			class="flex flex-col items-center justify-between gap-12 sm:flex-row sm:items-start"
		>
			<div class="avatar">
				<div
					class="mask mask-squircle bg-primary/10 flex size-40 items-center justify-center"
				>
					<UserIcon size="112" class="text-primary" />
				</div>
			</div>

			<div class="w-xs max-w-full">
				<h1 class="text-lg font-bold sm:text-xl">My Profile</h1>

				<EditAccountForm client:load />
			</div>
		</section>
	</main>
</PageLayout>
