---
import GroupsOverview from '@/components/groups/GroupsOverview.svelte';
import PageLayout from '@/layout/PageLayout.astro';
---

<PageLayout title="My Groups">
	<div class="mx-auto w-3xl max-w-11/12">
		<GroupsOverview client:load />
	</div>
</PageLayout>
