---
import CreateNewButton from '@/components/groups/CreateNewButton.svelte';
import GroupList from '@/components/groups/GroupList.svelte';
import PageLayout from '@/layout/PageLayout.astro';
---

<PageLayout>
	<div class="mx-auto w-3xl max-w-11/12">
		<div class="flex items-baseline justify-between p-4">
			<h1 class="text-lg font-bold sm:text-xl">My Groups</h1>

			<CreateNewButton client:load />
		</div>

		<GroupList client:load />
	</div>
</PageLayout>
