---
import JobList from '@/components/jobs/JobList.svelte';
import PageLayout from '@/layout/PageLayout.astro';
---

<PageLayout>
	<h1 class="sr-only">Jobs</h1>

	<div class="mx-auto w-3xl max-w-11/12">
		<JobList client:load />
	</div>
</PageLayout>
