RABBITMQ_USER=guggr
RABBITMQ_PASSWORD=guggr
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_JOB_RESULT_QUEUE=agent.job_results
POSTGRES_DATABASE=guggr
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=guggr
POSTGRES_USER=guggr
