POSTGRES_DATABASE=guggr
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=guggr
POSTGRES_USER=guggr
API_SERVICE_PORT=8081
API_SERVICE_HOST=localhost
API_SERVICE_AUTH_TTL=900
API_SERVICE_AUTH_REFRESH_TTL=2419200
API_SERVICE_AUTH_SECRET=great-secret
