RABBITMQ_USER=guggr
RABBITMQ_PASSWORD=guggr
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_SCHEDULER_QUEUE=scheduler.schedule
POSTGRES_USER=guggr
POSTGRES_PASSWORD=guggr
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=guggr
