---
import Footer from '@/components/shared/Footer.astro';
import Navbar from '@/components/shared/Navbar.astro';
import ThemeHandler from '@/components/ThemeHandler.svelte';
import '@/style.css';

const { title } = Astro.props;

interface Props {
	/** title will be suffixed with ' | guggr' */
	title?: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		{/* TODO favicon */}
		{/* <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> */}
		<meta name="viewport" content="width=device-width" />
		<title>{title ? `${title} | guggr` : 'guggr'}</title>
	</head>

	<body class="bg-base-200 flex min-h-screen flex-col justify-between">
		<div class="flex grow flex-col">
			<Navbar />

			<slot />
		</div>

		<Footer />
	</body>

	<ThemeHandler client:only />
</html>
