---
import logo from '@assets/logo.svg';
import { HeartIcon } from '@lucide/svelte';
---

<footer class="bg-base-300 mt-12 p-10">
	<div class="footer sm:footer-horizontal mx-auto max-w-lg">
		<aside>
			<img src={logo.src} class="w-20" />

			<h6 class="text-lg font-bold">guggr</h6>
			<p class="opacity-80">Monitoring that survives your outages.</p>
		</aside>

		<nav>
			<h6 class="footer-title">Links</h6>

			<a href="/login" class="link link-hover">Login</a>
			<a href="/register" class="link link-hover">Register</a>
			<a href="/about" class="link link-hover">About</a>
			<a
				href="https://github.com/guggr/guggr"
				target="_blank"
				rel="noopener noreferrer"
				class="link link-hover">GitHub</a
			>
		</nav>
	</div>

	<aside>
		<p class="text-base-content/60 pt-10 text-center text-sm">
			Made with <HeartIcon size="20" class="inline text-red-500/80" />
			<span class="sr-only">love</span> on <a
				href="https://github.com/guggr/guggr"
				target="_blank"
				rel="noopener noreferrer"
				class="link link-hover">GitHub</a
			>
		</p>
	</aside>
</footer>
