---
import Account from '@/components/shared/navbar/Account.svelte';
import logo from '../../../../../assets/logo.svg';
---

<div class="border-primary sticky top-0 z-20 mb-8 border-b-2 shadow backdrop-blur-xl">
	<nav class="navbar mx-auto w-3xl max-w-full py-4">
		<div class="flex-1">
			<a href="/" class="btn btn-ghost text-xl">
				<img src={logo.src} class="size-8" />

				guggr
			</a>
		</div>

		<Account />
	</nav>
</div>
